.top {
    background: url(images/top.png);
    background-size: cover;
    height: 800px;
}
#logo{
    border-radius: 20px;
    width: 50px;
    height: 50px;
}
.top_menu{
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.top_naming{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
#first_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

}
#sec_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;


}
.top_menu > div > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    margin: 30px;
}
#social{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#social > img{
    margin: 30px;
}
body{
    margin: 0px;
    padding: 0px;
}
.match{
    border: 3px solid #FFFFFF;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px;
    width:286px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.match:hover{
    background: #FFFFFF;
    color: black;
}
#players_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;


}
.players{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
#representatives{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.carousel_buttons_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  
    color: #000000;
}
.carousel_cards > div{
width: 370px;
}
#allplayers_butt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
}
#all_butt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#role{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #000000;


}
#more{
border: 1px solid #000000;
background: transparent;
padding: 10px 20px 10px 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #000000;
}
#more:hover{
    background: #000000;
    color: #FFFFFF;
}
.carousel_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#allplayers{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}
#left{
    border: 0px;
}
#right{
    border: 0px;
}
#last_match{
    display: flex;
    flex-direction: column;
    background: url(images/last_match_back.png);
    height: 700px;
    align-items: center;
    padding: 60px;
    background-size: cover;
    /* justify-content: space-between; */

}
#last_match_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}
#first_team_logo{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
#sec_team_logo{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
#result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#first_team > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}
#sec_team > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}
#result_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin: 70px;


}
#result > div{
    margin: 70px;
}
#last_date{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;


}
#news{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    height: 800px;
}
#news > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;


}
.footer{
    background: black;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#logo_footer{
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
#copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */
    letter-spacing: 0.02em;

    color: #FFFFFF;


}
#players_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    
}
#players_list_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.cards_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.card{
    width: 370px;
}