.top {
    background: url(images/top.png);
    background-size: cover;
    height: 800px;
}
#logo{
    border-radius: 20px;
    width: 50px;
    height: 50px;
}
.top_menu{
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.top_naming{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
#first_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

}
#sec_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;


}
.top_menu > div > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    margin: 30px;
}
#social{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#social > img{
    margin: 30px;
}
body{
    margin: 0px;
    padding: 0px;
}
button{
    border: 3px solid #FFFFFF;
    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px;

    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #FFFFFF;
}
button:hover{
    background: #FFFFFF;
    color: black;
}
#players_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;


}
.players{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
}
.carousel_buttons_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}